* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #f8e7f4;
}

body {
    /*background-image: url(./pexels-cottonbro-3826436.jpg);
    background-position: center center fixed;
    background-repeat: no-repeat;*/
    background:  url(./pexels-cottonbro-3826436.jpg) center center fixed no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}

.logo {
    font-size: 7vh;
    margin-left: 10px;
}

header {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.742);
    justify-content: space-between;
}

main {
    height: 1fr;
}

#arrow {
    font-size:x-large;
    animation: blink 5s steps(15, start) infinite;
}


@keyframes blink {
    to {
        visibility: hidden;
    }
}

.rotate {
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    transition: 300ms;
    display: block !important;
}

ul {
    align-items: right;
    margin-right: 10px;
}

ul > li {
    display: inline-block;
}

i {
    transition: 200ms;
}

i:hover {
    color: #e8a3d9;
    cursor: pointer;
}

.social_link {
    height: 7vh;
    font-size: 7vh;
    align-items: middle;
}

.container {
    text-align: center;
}

.container .name h1 { 
    font-size: min(max(30px,10vw), 60px)
}

.container .name h5 { 
    font-size: min(max(15px,4vw), 20px)
}

#about p { 
    max-width: 600px;
    margin: 0 auto;
    font-size: min(max(12px,2vw), 15px)
}

.form {
    width: 40%;
    margin: 0 auto;
}

.form input {
    width: max(65px, 30%);
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
}

.form button {
    width: 10%;
    color: black;
    min-width: fit-content;
    background-color: #fdd0f3;
    transition: 200ms;
    padding: 5px;
    border: none;
    margin-left: -5px;
    border-radius: 0px 5px 5px 0px;
}

.id-contato {
    font-size: max(12pt,1vw )
}

button:hover {
    background-color: #e680d0;
    color: #f8e7f4;
    cursor: pointer;
}